.navbar-default .navbar-nav>li>a{
    color: #fff;
}

.navbar-default .navbar-nav>li>a:hover{
    color: rgb(219,13,0);
}

.panel-inbloom{
  border-radius: 4px;
  border:1px solid #ddd;
  height: 45px;
  padding: 5px 10px;
  margin: 0 auto;
  width: 98%;
}

.panel-inbloom h4{
  color:#000;
}

.imgs-prod-inbloom{
  height: 200px;
  margin: 10px auto;
}

.btn-inbloom{
  background: rgba(133,3,96,1);
  background: -moz-linear-gradient(top, rgba(133,3,96,1) 0%, rgba(133,3,96,0.74) 93%, rgba(193,70,161,0.72) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(133,3,96,1)), color-stop(93%, rgba(133,3,96,0.74)), color-stop(100%, rgba(193,70,161,0.72)));
  background: -webkit-linear-gradient(top, rgba(133,3,96,1) 0%, rgba(133,3,96,0.74) 93%, rgba(193,70,161,0.72) 100%);
  background: -o-linear-gradient(top, rgba(133,3,96,1) 0%, rgba(133,3,96,0.74) 93%, rgba(193,70,161,0.72) 100%);
  background: -ms-linear-gradient(top, rgba(133,3,96,1) 0%, rgba(133,3,96,0.74) 93%, rgba(193,70,161,0.72) 100%);
  background: linear-gradient(to bottom, rgba(133,3,96,1) 0%, rgba(133,3,96,0.74) 93%, rgba(193,70,161,0.72) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#850360', endColorstr='#c146a1', GradientType=0 );
  color:#fff;
  display: block;
  margin: 0 auto;
  width: 120px;
  border-radius: 4px;
}

.btn-inbloom:hover{
  color:#fff;
  text-shadow:0 2px 14px #f5f5f5;
}

.btn-inbloom-default{
  background: #fff;
  border-color: #ccc;
  border-radius: 4px;
  display: block;
  margin: 0 auto;
  width: 120px;
  color:#000;
}

.container-fluid{
  background: rgb(137,17,124);
  color:#fff;
}

.edit{
  background: URL('../imgs/editar.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
  height: 25px;
}

.delete{
  background: URL('../imgs/delete.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
  height: 20px;
}

.frm-error{
  color: red;
}

.btn-upload-Image{
  display: block;
  margin: auto;
}

.drag-drop{
  height: 225px;
  width: 90%;
  background-color: #ccc;
  border-radius: 100%;
  text-align: center;
  color: white;
  position: relative;
  margin: 5% auto;
}

.img-product-inbloom{
  height: 25px;
}

#imgLoad{
  border-radius: 100%;
  width:100%;
  height:100%;
  opacity: 0.9;
}

input[type="file"]{
  height: 220px;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
}

.glyphicon-lg{
  position: relative;
  font-size: 75px;
  margin-top: 20%;
  margin-bottom: 7%;
}

/* Estilo del área del input[file] con :hover */

.drag-drop:hover, input[type="file"]:hover {
    background-color: #3276b1;
    cursor: pointer;
}

.drag-drop:hover .pulsating {
    animation: pulse1 1s linear infinite;
    animation-direction: alternate ;
    -webkit-animation: pulse1 1s linear infinite;
    -webkit-animation-direction: alternate ;
}

/* Keyframing de la animación */

@keyframes pulse1 {
 0% { color: rgba(225, 225, 225, .75); }
 50% { color: rgba(225, 225, 225, 0.25); }
 100% { color: rgba(225, 225, 225, .75); }
}

@-moz-keyframes pulse1 {
 0% { color: rgba(225, 225, 225, .75); }
 50% { color: rgba(225, 225, 225, 0.25); }
 100% { color: rgba(225, 225, 225, .75); }
}

@-webkit-keyframes pulse1 {
 0% { color: rgba(225, 225, 225, .75); }
 50% { color: rgba(225, 225, 225, 0.25); }
 100% { color: rgba(225, 225, 225, .75); }
}

@-ms-keyframes pulse1 {
 0% { color: rgba(225, 225, 225, .75); }
 50% { color: rgba(225, 225, 225, 0.25); }
 100% { color: rgba(225, 225, 225, .75); }
}
