
.frmInicio{
  width: 450px;
  margin:150px auto;
}

/* enable absolute positioning */
.inner-addon {
    position: relative;
}

/* style icon */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align icon */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }

#imagenEmp{
  display: inline-block;
  width: 150px;
  height: 180px;
  background: URL(../imgs/logoEmpresa.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position:center;
}

#bloque2{
  float: right;
  display: inline;
  width: 250px;
}

#getResp{
  text-align: center;
  color:red;
  font-size: 14pts;
}

.footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 35px;
  background: rgb(137,17,124);
}
.footer>p{
  color: #fff;
  margin-top: 10px;
  text-align: center;
  font-size: 12px;
}
