
/* enable absolute positioning */
.inner-addon {
    position: relative;
}

/* style icon */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

.text-error{
  color: red;
  font-weight: bold;
  text-align: center;
}

/* align icon */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }


.footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 35px;
  background: rgb(137,17,124);
}
.footer>p{
  color: #fff;
  margin-top: 10px;
  text-align: center;
  font-size: 12px;
}

.tbl_hidden{
  display: none;
  height: auto;
  width: 95%;
  margin: 10px auto;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 5px 10px;
}

.imgs-emp{
  height: 200px;
  width: 300px;
  background-color: orange;
  margin: 0 auto;
}
