.container-fluid{
  background: rgb(137,17,124);
  color:#fff;
}

.imgEmpresa{
  background: url(../imgs/logoEmpresa.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  display: block;
  height: 320px;;
}

#imgModulo{
  height: 150px;
  margin: 0 auto;
}
